/*Universal Styling*/
body {
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
}


@font-face {
    font-family: 'P22Thin';
    src: url('fonts/p22undergroundcypro-thin-webfont.woff2') format('woff2'),
         url('fonts/p22undergroundcypro-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22Book';
    src: url('fonts/p22undergroundcypro-book-webfont.woff2') format('woff2'),
         url('fonts/p22undergroundcypro-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22Demi';
    src: url('fonts/p22undergroundcypro-demi-webfont.woff2') format('woff2'),
         url('fonts/p22undergroundcypro-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22Heavy';
    src: url('fonts/p22undergroundcypro-heavy-webfont.woff2') format('woff2'),
         url('fonts/p22undergroundcypro-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P22Medium';
    src: url('fonts/p22undergroundcypro-medium-webfont.woff2') format('woff2'),
         url('font/sp22undergroundcypro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2{
	font-family: 'P22Demi';
	position: relative;
	margin:0;
	padding:0;
	font-size: 1.4em;
	color: white;
}

h3 {
	margin: 0;
	padding: 0;
	font-family: 'P22Heavy';
	font-size: 1em;
	color: #FF85BF;
	display: inline-block;
}

h4 {
	margin: 0;
	padding: 0;
	font-family: 'P22Heavy';
	font-size: 1em;
	color: #939393;
	display: inline;
}

.navigation-bar {
	font-family: P22Heavy;
	padding-top: 15px;
	width: 100%;
	height: 80px;
	text-align: center;
	text-decoration: none;
}

a:link, a:visited {
	color: #aaaaaa;
	text-decoration: none;
}
a:hover, a:active {
	color: #aaaaaa;
	text-decoration: none;
}

#nav-underline {
	text-decoration: underline;
}

li {
	list-style: none;
}

.footer {
	font-family: 'P22Demi';
	font-size: 1em;
	width: 100%;
	height: 60px;
	background-color: #D18FB0;
	color: white;
}

.footer-container {
	width: 1000px;
	margin: 0 auto;
	line-height: 3.5em;
}

/*Index Page Styling*/
#index-section {
	background-image: url("images/pink_cloud.png");
	height: 100vh;
	width: 100vw;
}

.section {
	width: 100vw;
	height: 100vh;
}

.container {
	margin: 0 auto;
	width: 1200px;
	height: 100vh;
}


#logo {
	position: absolute;
	left:0;
	right:0;
	top: 30px;
	margin-left:auto;
	margin-right:auto;
    display: inline-block;
    vertical-align: top;
    width: 110px;
}

#left-aligned-menu {
    display: inline-block;
	width: 700px;
	height: 80px;
	float: left;
	vertical-align: top
}

#right-aligned-menu {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* full height of the bar */
    line-height: 80px;    /* vertically middle of the navbar */
    float: right;
}

#right-aligned-menu a {
	padding: 60px;
}

#landing-message {
	font-family: P22Heavy;
	text-align: center;
	padding-top: 50px;
}

#landing-message-1 {
	font-size: 2em;
	color: #D18FB0;
}

#landing-message-2 {
	font-size: 20em;
	line-height: 1em;
	background: linear-gradient(to right, #D18FB0 0%, #FF85BF 50%, #FFD7EA 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#featured-items {
	margin-top: 30px;
}

#featured-item {
	position: relative;
	width: 460px;
	height: 188px;
	background-color: white;
    box-shadow: 0px 8px 50px 2px rgba(212, 212, 212, 0.5);
    display: inline-block;
}

#featured-item-2 {
	position: relative;
	width: 460px;
	height: 188px;
	background-color: white;
    box-shadow: 0px 8px 50px 2px rgba(212, 212, 212, 0.5);
    display: inline-block;
    margin-left: 20px;
}

#featured-item-3 {
	position: relative;
	width: 200px;
	height: 188px;
	background-color: white;
    box-shadow: 0px 8px 50px 2px rgba(212, 212, 212, 0.5);
    display: inline-block;
    margin-left: 20px;
}

.card-image {
	position: relative;
	display: inline-block;
	float: left;
}

.card-contents {
    width: 200px;
	float: left;
	display: inline-block;
	padding-left: 25px;
}


.card-title {
	font-family: 'P22Heavy';
	font-size: 1.5em;
	color: #D18FB0;
	line-height: 0.2em;
	padding-top: 10px;
}

.card-price {
	font-family: 'P22Heavy';
	font-size: 1.3em;
	color: #D18FB0;
	line-height: 0em;
	padding-top: 10px;
}

.card-description {
	font-family: 'P22Heavy';
	font-size: 1em;
	color: #939393;
	line-height: 1.2em;
}

.primary-button {
	font-family: 'P22Demi';
	border: none;
	width: 118px;
	height: 31px;
	background-color: #FF85BF;
	color: white;
    padding-top: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    border-radius: 30px;
	cursor: pointer;
}

.secondary-button {
	font-family: 'P22Demi';
	border: none;
	width: 118px;
	height: 31px;
	background-color: #D18FB0;
	color: white;
    padding-top: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    border-radius: 30px;
	cursor: pointer;
}

#view-all-title {
	font-family: 'P22Heavy';
	font-size: 1.5em;
	color: #D18FB0;
	line-height: 1.2em;
	padding-top: 10px;
}

#arrow {
	font-family: "P22Heavy";
	font-size: 2em;
	line-height: 0;
	color: #D18FB0;
}








/*Products Page*/
#products-header {
	font-family: "P22Demi";
	font-size: 2em;
	color: white;
	margin-top: 80px;
	height: 125px;
  	background: linear-gradient(to right, #D18FB0, #FF85BF);
  	text-align: center;
  	line-height: 4em;
}

.products-container {
	margin: 0 auto;
	margin-top: 50px;
	width: 960px;
	height: 100vh;
}

.left-2x2 {
	width: 460px;
	height: 300px;
	display: inline-block;
	float: left;
	margin-top: 20px;
	box-shadow: 0px 8px 50px 2px rgba(212, 212, 212, 0.5);
}

.right-2x2 {
	width: 460px;
	height: 300px;
	display: inline-block;
	float: right;
	margin-top: 20px;
    box-shadow: 0px 8px 50px 2px rgba(212, 212, 212, 0.5);
}

.placeholder {
	width: 160px;
	height: 170px;
	margin-left: 25px;
	margin-top: 25px;
	display: inline-block;
	float: left;

}

.product-card-description {
	width: 220px;
	height: 200px;
	display: inline-block;
	float: right;
	margin-left: 20px;
	margin-right: 25px;
}

.smaller-left-1x2 {
	width: 200px;
	height: 60px;
	margin-left: 25px;
	margin-bottom: 25px;
	display: inline-block;
	float: left;
	margin-top: 20px;
}

.smaller-right-1x2 {
	width: 200px;
	height: 60px;
	margin-right: 25px;
	margin-bottom: 25px;
	display: inline-block;
	float: right;
	margin-top: 20px;
}

.icon {
	margin-top: 5px;
	margin-right: 10px;
}




/*Product Details Page*/
.product-detail-container {
	margin: 0 auto;
	margin-top: 100px;
	width: 1080px;
	height: 100vh;
}

.back {
	font-family: 'P22Demi';
	font-size: 1.2em;
	color: #D18FB0;
	margin-bottom: 20px;
}

.gallery-main {
	float: left;
}

.gallery-thumbnail {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-top: 10px;
	margin-right: 15px;
}

.product-details {
	display: inline-block;
	width: 600px;
	height: 600px;
	float: right;
}

.product-title {
	font-family: 'P22Heavy';
	font-size: 1.5em;
	color: #D18FB0;
	line-height: 0.2em;

}

.product-description {
	width: 450px;
	font-family: 'P22Heavy';
	font-size: 1em;
	color: #939393;
	line-height: 1.2em;
}

.choice {
	width: 600px;
	height: 60px;
	margin-bottom: 25px;
	margin-top: 20px;
}

#second-button {
	margin-left: 12px;
}

/*Sign Up Page*/
#sign-up-block {
	width: 940px;
	height: 540px;
	margin: 0 auto;
	margin-top: 50px;
    box-shadow: 0px 8px 50px 2px rgba(212, 212, 212, 0.5);

}

#sign-up-left {
	width: 536px;
	height: 540px;
	display: inline-block;
	float: left;
}

#sign-up-right {
	width: 404px;
	height: 540px;
	background-color: red;
	display: inline-block;
	float: right;
}

.box-container {
	margin: 0 auto;
	width: 416px;
	height: 100%;
}

form {
	margin-top: 20px;
}

#required {
	color: #FF85BF;
	display: inline;
}

.inline-input-left {
	width: 180px;
	display: inline-block;
}

.inline-input-right {
	width: 180px;
	float: right;
	margin-right: 35px;
}


input[type=text]#half-input {
	width: 170px;
	height: 30px;
	margin-top: 10px;
	font-family: 'P22Book';
	border: 1px solid #939393;
	border-radius: 15px;
	font-size: 1em;
	padding-left: 10px;
}

input[type=text] {
	padding-left: 10px;
	margin-top: 10px;
	width: 370px;
	height: 30px;
	margin-top: 10px;
	font-family: 'P22Book';
	border: 1px solid #939393;
	border-radius: 15px;
	font-size: 1em;
}

input[type=password] {
	padding-left: 10px;
	margin-top: 10px;
	width: 370px;
	height: 30px;
	margin-top: 10px;
	font-family: 'P22Book';
	border: 1px solid #939393;
	border-radius: 15px;
	font-size: 1em;
}

.regular-input {
	margin-top: 15px;
}

.requirements {
	font-family: 'P22Medium';
	font-size: 0.7em;
	color: #939393;
}

.box-title {
	font-family: 'P22Demi';
	font-size: 1.4em;
	color: #D18FB0;
}

#sign-up-right {
	background-image: url(images/sign_up.png);
}

#yarn-color {
	margin: 0;
	padding: 0;
	font-family: 'P22Heavy';
	font-size: 1em;
	color: #939393;
}

#filling-choice {
	margin: 0;
	padding: 0;
	font-family: 'P22Heavy';
	font-size: 1em;
	color: #939393;
}

/* Custom Radio Button Styling*/
label {
	display: inline-block;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input + img{ /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border: 2px solid #FF85BF;
  border-radius: 20px;
}


/*Checkout Page*/
.checkout-container {
	margin: 0 auto;
	margin-top: 50px;
	width: 660px;
	height: 100vh;
}
#checkout-box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 660px;
	height: 365px;
	box-shadow: 0px 8px 50px 2px rgba(212, 212, 212, 0.5);

}

#checkout-label {
	margin-top: 10px;
}

.checkout-label {
	margin-top: 20px;
	margin-left: 90px;
	font-family: 'P22Medium';
	font-size: 1em;
	color: #939393;
	display: inline-block;
}

.checkout-item {
	width: 600px;
	height: 94px;

	font-family: 'P22Heavy';
	font-size: 1em;
	color: #939393;

	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;

}

.quantity {
	font-family: 'P22Heavy';
	font-size: 1em;
	color: #D18FB0;
	height: 20px;
	border: 1px solid #FF85BF;
	text-align: center;
}