.Header {
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: #FAFAFA;
	border: 1px solid red;
	padding-top: 38.5px;
	padding-bottom: 38.5px;
}

.HeaderGroup {
	max-width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}

#logo {
 	font-size: 0.9em;
	font-weight: 600;
	letter-spacing: 0.2em;
}

.menu {
	font-size: 0.7em;
	font-weight: 600;
	letter-spacing: 0.15em;
}

.right-nav {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-column-gap: 50px;
	align-items: center;
	justify-items: center;

}