.Header {
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: white;
	padding: 42px 0;
	transition: 0.5s cubic-bezier(0.2, 0.1, 0.25, 1);

}

.HeaderScrolled {
	-webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.05);
	padding: 25px 0;
}

.HeaderGroup {
	max-width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 0 80px;
}

#logo {
 	font-size: 1em;
	font-weight: 600;
	letter-spacing: 0.2em;
}

.menu {
	font-size: 0.75em;
	font-weight: 600;
	letter-spacing: 0.2em;
}

.right-nav {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-column-gap: 80px;
	align-items: center;
	justify-items: center;
}

@media (max-width: 1100px) {
	.Header {
		padding: 30px 0;	
	}

	.HeaderGroup {
		padding: 0 60px;
	}


	.right-nav {
		grid-column-gap: 40px;
	}
}

@media (max-width: 530px) {
	.Header {
		padding: 20px 0;	
	}

	.HeaderGroup {
		padding: 0 25px;
	}

	#logo {
	 	font-size: 0.7em;
		font-weight: 600;
		letter-spacing: 0.2em;
	}
	.menu {
		font-size: 0.4em;
		font-weight: 600;
		letter-spacing: 0.15em;
	}

	.right-nav {
		grid-column-gap: 20px;
	}
}
