@font-face {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Larsseit.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Larsseit-Light.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Larsseit-Medium.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Larsseit-Bold.ttf'); /* IE9 Compat Modes */
}


body {
  font-family: Larsseit, 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  color: #353535;
  background-color: #FAFAFA;
}

a {
  color: #353535;
  text-decoration: none;
}

.Hero {
  max-width: 940px;
  height: 540px;
  margin: 0 auto;
  padding: 0 80px;
}

.HeroGroup {
  margin: 0;
  padding: 166px 0;
  line-height: 2.9em;
}

.Hero h1 {
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 46px;
  animation: HeroAnimation;
  animation-duration: 1.5s;
  opacity: 0 ;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.1, 0.25, 1);
}

.Hero h2 {
  font-weight: 500;
  font-size: 1.5em;
  color: #838383;
  animation: HeroAnimation;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.1, 0.25, 1);
}


.Projects {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 80px;
  margin-bottom: 200px;
}

.ProjectsGroup {
  margin: 0 auto;
  animation: HeroAnimation;
  animation-delay: 1s;
  animation-duration: 1.5s;
  opacity: 0 ;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.1, 0.25, 1);
}


@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*projects*/
#project-card-thumbnail {
  width: 100%;
  margin-bottom: 35px;
}

#project-card-title {
  display: inline-block;
}

#project-card-logo-container {
  width: 86px;
  float: right;
}

#project-card-logo {
  width: 90%;
  float: right;

}

.Project-Card {
  width: 432px;
}

.Project-Card-Description {
  color: #6D6D6D;
  line-height: 1.8em;
}

.Project-Card h3 {
  display: inline;
  line-height: 0.5em;
  font-size: 1.1em;
}

.ProjectsGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 75px;
  grid-row-gap: 140px;
}

.footer {
  max-width: 940px;
  margin: 0 auto;
  padding: 50px 80px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.react {
  justify-self: end;
  width: 50px;
}

.react-img {
  width: 100%;
}

/*media queries*/
@media (max-width: 1100px) {
  .Hero {
    height: 450px;
    margin: 0 auto;
    padding: 0 60px;
  }

  .Hero h1 {
    font-size: 1.2em;
    line-height: 2.0em;
    margin-bottom: 20px;
  }

  .Hero h2 {
    font-size: 1.2em;
    line-height: 2.0em;
  }

  .Projects {
    padding: 0 60px;
  }

  .ProjectsGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .Project-Card {
    width: 100%;
  }

  #project-card-title {
    display: inline-block;
    max-width: 60%;
    font-size: 0.9em;
  }

  #project-card-description {
    font-size: 0.7em;
  }

  #view-project {
    font-size: 1em;
  }
}

footer {
  max-width: 940px;
  height: 75px;
  margin: 0 auto;
  padding: 0 60px;
}


@media (max-width: 685px) {
  .ProjectsGroup {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 530px) {
  .Hero {
    max-width: 360px;
    margin: 0 auto;
  }

  .Hero h1 {
    font-size: 0.9em;
    line-height: 2.0em;
    margin-bottom: 20px;
  }

  .Hero h2 {
    font-size: 0.9em;
    line-height: 2.0em;
  }

  #project-card-logo {
    width: 70px;
    margin-top: 4px;
  }

  .Project-Card h3{
    font-size: 0.9em;
  }

  .Project-Card p{
    font-size: 0.8em;
  }

  #view-project {
    font-size: 0.8em;
  }

  footer {
    font-size: 0.8em;
  }
}

